
.card{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    }

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.btn{
    -fx-background-color : linear-gradient(to bottom right, #197fe0, #9e17e1);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.btn:hover{
    -fx-background-color : linear-gradient(to bottom right, #9e17e1, #197fe0);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}